%p
  %strong Title:
  = @article.title
%p
  %strong Text:
  = @article.text
%p
  %strong Ratings:
  #{@article.ratings.sum(:rateable_value)} (+#{@article.ratings.upvotes.count}) (-#{@article.ratings.downvotes.count})
  = link_to '+1', rate_article_path(@article, :value => '1'), method: :post
  = link_to '-1', rate_article_path(@article, :value => '-1'), method: :post
%h2 Comments
= render @article.comments
%h2 Add a comment:
= render 'comments/form'

=link_to 'Edit', edit_article_path(@article)
=link_to 'Back', articles_path
